body{
    background-color: turquoise;
}

.scores{
    font-weight: bold;
}
#banner{
    text-align: center;
    
}
#buttons{
    text-align: center;
    padding: 20px;
}
#results{
    margin-left: 33%;
    margin-top: 40px;
    width: 40%;
    height: 40%;
    text-align: center;
    border: 1px solid black;
}
#results #scores{
    display: inline;
}

#Boulder{
    background: url("boulder.jpeg") center/contain no-repeat;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#Shears{
    background: url("shears.jpeg") center/contain no-repeat;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#Parchment{
    background: url("parchment.jpeg") center/contain no-repeat;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#Boulder:hover{
    position: relative;
    border: 4px solid orange;
    opacity: .8;
}

#Parchment:hover{
    border: 4px solid orange;
    opacity: .8;
    background-color: white;
}
#Shears:hover{
    border: 4px solid orange;
    opacity: .8;
    background-color: white;
}
